<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Licensed to the Sakai Foundation under one or more contributor
license agreements. See the NOTICE file distributed with this
work for additional information regarding copyright ownership.
The Sakai Foundation licenses this file to you under the Apache
License, Version 2.0 (the "License"); you may not use this file
except in compliance with the License. You may obtain a copy of
the License at:

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on
an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
--!>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" href="../css/Sample.css" type="text/css"/>
<title>Sakora Web Services Log File Content</title>
</head>
<body>
<div class="portletBody">

<h3>Sakora Web Services Log File Content</h3>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>Log file</td><td rsf:id="fileName">FileName </td>
  </tr>
  <tr>
    <td>Size</td><td rsf:id="fileSize">FileName </td>
  </tr>
</table>

<PRE rsf:id="content">
content line 1
content line 2
</PRE>


</div>
</body>
</html>
